.nav{
display: flex;
justify-content: space-between;
color: white;
}
.nav h3{
    margin-left: 20px;
}
.nav a{
    text-decoration: none;
    color: white;
    /* margin-top: 30px; */
    
}
.sel{
    color: white;
    border: none;
    background: none;
}
.arc{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    margin-right: 10px;
}
.h1 h5{
    color: white;
}
.h1 p{
    color: white;
    font-size: 40px;
}
.h1{
   text-align: center;
   margin-top: 200px;
  
}
 
.arrow{
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
}
.arrow img{
    margin-top: 300px;
    cursor: pointer;
}




.section1{
    background-image: url(slide-02.jpg);
    padding-bottom: 200px;
    background-size: cover;
}
.cont1{
    display: flex;
}
/* section{
    display: flex;
} */
#sai1{
    margin-left: 10px;
}
#sai2{
    display: flex;
    align-items: center;
    p{
        margin-left: 200px;
    }
}



.container{
    margin: 40px ;
    padding: 10px;
    font-size: 20px;  
   
}

#box1{
    display: flex;
    column-gap: 20px;    
}
#box1 span{
    padding-top: 10px;
}
#box2{
    display: flex;
   column-gap: 22px; 
   
}
#box2 span{
    padding-top: 10px;
}
.content{
    margin:40px;
    /* padding: 100px; */
    display: flex;
    justify-content:space-evenly;
    width: 100%;
}

.box4{

    p{
        margin-left: 10%;
        width: 300px;
    }
    h5{
        margin-left: 10%;
    }
}
.box5{

    p{
        margin-left: 10%;
        width: 300px;
    }
    h5{
        margin-left: 10%;
    }
}
.box6{

    p{
        margin-left: 10%;
        width: 300px;
    }
    h5{
        margin-left: 10%;
    }
}



.section2{
    color: white;
}

.grid{
    padding-top: 120px;
}
.imgsection{

    display: flex;
    justify-content: space-evenly;
    
   
}











.main1{

    padding: 30px;
   text-align: center;
   background-image: url(slide-02.jpg);
   background-size: cover;

   padding-bottom: 70px;
}
.main2{
    margin-top: 100px;
    margin-right: 200px;
    
}

ul {
    list-style-type: none;
    padding:10px;
  }
  li{
    padding: 15px;
  }




  

  .grid{
    display:grid;
    height: 500px;
    width: 700px;

    grid-template-areas:
"pic1 pic2 pic3"
"pic4 pic5 pic6" ;
    gap: 20px;



}
.pic1{
    grid-area: pic1;

   
}
.pic2{
    grid-area: pic2;
   
}
.pic3{
    grid-area: pic3;
}
.pic4{
    grid-area: pic4;
}
.pic5{
    grid-area: pic5;
}
.pic6{
    grid-area: pic6;

}

#gridimg{
    height: 100%;
    width: 100%;
    gap: 20px;
       
    }




.memberitems{
    /* display: flex; */
    background-image: url("slide-02.jpg");
    background-size: cover;
    height: 650px;
    width: 100%;
    h5{
        padding-top: 50px;
        text-align: center;
        color: white;
    }
    h2{
        text-align: center;
        color: white;
    }
    h6{
        text-align: center;
        color: white;
    }
    
}

.memberitem_img{
    display: flex;
    justify-content: space-evenly;
    figcaption{
        margin-top: -50px;
    }
}

.memberitem_img img{
    height: 300px;
    width: 250px;
}

.dot
{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    color: aliceblue;
    
}
.cir{
    border-radius: 50%;
    background-color: white;
    width: 8px;
    height: 8px;
}
.cir1{
    border-radius: 50%;
    background-color: white;
    width: 10px;
    height: 10px;
}

.contantend{
    display: flex;
    column-gap: 300px;
    background-image: url(./dotted-map-bg\ \(1\).png);
    background-size: cover;
    width: 100%;
    height: fit-content;
    object-fit: fill;
    margin: 30px;
}
.for{
    display: flex;
    column-gap: 40px;
}
.form{
    margin-top: 30px;
}
.in{
    width: 300px;
    height: 30px;
}
.btn{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 40px;
    border: none;
}
.end{
    display: flex;
    justify-content: space-around;
    background-color: rgb(49, 236, 49);
    color: white;
    height: 80px;
}
.p{
    margin-top: 20px;
}
.social-icons{
    margin-top: 25px;
}
.social-icons i{
    font-size: 23px;
}
.contant h6{
    color: yellowgreen;
    font-size: 15px;
}


/* 
@media screen and (width<600px) {
    .grid{
        display: flex;
        flex-direction: column;
    }
    
    .memberitems{
        padding: 50px;
        padding-bottom: 50px;
        margin-top: 100px;
        justify-content: center;
        justify-items: center;
        
        display: flex;
        background-image: url(slide-02.jpg);
        margin-bottom: 100px;
        padding-bottom: 50px;
    }
    
    .contentend{
        display: flex;
    }
    
    .end{
        background-color: greenyellow;
    }
    
} */




/* media quaries */ 
 @media screen and (max-width:475px) {
    .section1{
        width: 366%;
    }

    .cont1{
        width: 335%;
    }
    #sai1{
        width: 50%;
    }
    #sai2{
        p{
            margin-left: 114px;
        }
    }
    .main1{
        width: 352%;
        height: 260px;
    }
    .memberitems{
        width: 367%;
    }
    .content{
        width: 360%;
    }
    .grid{
        /* display: flex; */
        flex-direction: column;
    }
    .imgsection{
        width: 350%;
        /* background-color: aqua; */
        
        .main2{
            width: 100%;
            font-size: 25px;

        }
        .grid{
            display: grid;
            width: 110%;
            /* height: 170%; */
        }
    }

    footer{
        width: 366%;
    }
    
}


/* tablet */


/* media quaries */ 
@media screen and (min-width:475px) and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .section1{
       
        width: 407%;
    }

    .cont1{
        width: 407%;
        margin-bottom: -45px;
        margin-left: 230px;
    }
    #sai1{
        width: 50%;
    }
    #sai2{
        p{
            margin-left: 114px;
        }
        height: 500px;
    }
    .main1{
        width: 407%;
        height: 260px;
    }
    .memberitems{
        width: 407%;
    }
    .content{
        width: 407%;
        /* height: 300px; */
    }
    .grid{
        /* display: flex; */
        flex-direction: column;
    }
    .imgsection{
        width: 355%;
        /* background-color: aqua; */
        
        .main2{
            width: 100%;
            font-size: 25px;
            margin-left: 200px;
        }
        .grid{
            display: grid;
            width: 110%;
            /* height: 170%; */
        }
    }
    .contantend{
        margin-left: 350px;
    }
    .contant{
        width: 40%;
    }

    footer{
        width: 407%;
    }
    
}


/* laptop */

/* media quaries */ 
@media screen and (min-width:768px) and (max-width:1024px) {
    body{
        overflow-x: hidden;
    }
    .section1{
       
        width: 407%;
    }

    .cont1{
        width: 407%;
        margin-bottom: -45px;
        margin-left: 230px;
    }
    #sai1{
        width: 50%;
    }
    #sai2{
        p{
            margin-left: 114px;
        }
        height: 500px;
    }
    .main1{
        width: 407%;
        height: 260px;
        padding-top: 124px;
    }
    .memberitems{
        width: 407%;
    }
    .content{
        width: 407%;
        /* height: 300px; */
    }
    .grid{
        /* display: flex; */
        flex-direction: column;
    }
    .imgsection{
        width: 355%;
        margin-bottom: 10px;

        padding-bottom: 264px;
        /* background-color: aqua; */
        
        .main2{
            width: 100%;
            font-size: 25px;
            margin-left: 200px;
        }
        .grid{
            display: grid;
            width: 110%;
            /* height: 170%; */
        }
    }
    .contantend{
        margin-left: 350px;
    }
    .contant{
        width: 40%;
    }

    footer{
        width: 407%;
    }
    
}

